# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Pastas de build
dist/
build/

# VSCode
.vscode/

# MacOS
.DS_Store

# MongoDB local data (caso use)
data/

# Nodemon
nodemon.json
